
* {
    font-family: 'Rubik', sans-serif;
}

:root {
    --main-color: #abc442;
    --second-color: #2b4439;
    --white-color: #fff;
    --black-color: #000;
    --title-color: #a7b1ad;
    --title-alt-color: #78847c;
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--second-color) var(--white-color);
  }
  
  /* Chrome, Edge and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  *::-webkit-scrollbar-track {
    background-color: var(--white-color);
  }
  
  *::-webkit-scrollbar-track:hover {
    background-color: var(--white-color);
  }
  
  *::-webkit-scrollbar-track:active {
    background-color: var(--white-color);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: var(--second-color);
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: var(--main-color);
  }
  
  *::-webkit-scrollbar-thumb:active {
    background-color: var(--main-color);
  }
  